aiohttp>=3.9.0,<4.0.0
pydub==0.25.1
numpy>=1.24.0,<2.0.0
aiofiles>=23.2.1,<24.0.0
dataclass-factory==2.16
shazamio_core>=1.0.7,<2.0.0
pydantic>=2.4.1,<2.10
aiohttp-retry>=2.8.3,<3.0.0
anyio==4.3.0
